@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1280px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
